<h2>Show document <%= @document.name %> for user <%= @user %></h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @document.name %>
  </li>

  <li>
    <strong>UploadedAs:</strong>
    <%= @document.uploaded_as %>
  </li>

</ul>

<%= link "Back", to: user_document_path(@conn, :index, @user) %>